{erl_opts, [debug_info,{parse_transform, lager_transform}]}.
{deps, [{cowboy,"2.2.0"},
        {lager,"3.5.2"},
        {jsx, "2.9.0"},
        {poolboy,"1.5.1"},
        {eredis,"1.1.0"}
        ]}.

{relx, [{release, { ppsvr, "0.1.0" },
         [myrelease,
          data_bucket,
          id_dispatch,
          order_cache,
          web,
          lager,
          utils,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{lager, [
          {handlers, [
                         {lager_console_backend, [{level, info}, {formatter, lager_default_formatter},
                                                       {formatter_config, [time," [",severity,"] ", message, "\n"]}]},
                         {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
                                                    {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                         {lager_file_backend, [{file, "console.log"}, {level, info}]}
                       ]}
        ]}.

